# ============================================================
# bodega.cfg — Configuracion Ice para BodegaCentral
#
# IMPORTANTE: Cambie la IP por la del computador donde se
# desplegara BodegaCentral antes de ejecutar.
# ============================================================

# Endpoint donde escucha este servidor (puerto 10001)
BodegaAdapter.Endpoints = tcp -h localhost -p 10001
