# ============================================================
# bodega.cfg — Configuracion Ice para BodegaCentral
#
# IMPORTANTE: Cambie la IP por la del computador donde se
# desplegara BodegaCentral antes de ejecutar.
# ============================================================

# Endpoint donde escucha este servidor (puerto 10001)

# Colocar la ip del equipo en donde se despliega bodega
BodegaAdapter.Endpoints = tcp -h 10.147.17.224 -p 10001
