# Ip de la maquina que despliega la maquina de café
CoffeMach.Endpoints = default -h 10.147.17.136 -p 12346

# Ip de la maquina que despliega el servidor central (para los 3 casos)
alarmas = Alarmas:tcp -h 10.147.17.136 -p 12345
ventas = Ventas:tcp -h 10.147.17.136 -p 12345
recetas = Recetas:tcp -h 10.147.17.136 -p 12345
